button {
    padding: .5rem;
    border-radius: 3px;
}
.clearfix {
    overflow: hidden;
}
input[type=text] {
    padding: .5rem;
    width: 100%;
    font-size:.75rem;
}
ul, li {
    margin-left: 0;
}
li {
    height: default;
    line-height: default;
}
.available-stops {
    background-color: #FAFAFA;
    padding-top:1rem;
    border:1px solid #DDD;
    border-radius: 4px;
}
.first-container {
    margin-top:2rem;
}
.container {
    margin-top:1rem;
    margin-bottom:1rem;
}

h1, h2, h3 {
    font-weight: bold;
}
.map-frame {
    border:2px solid #DDD;
}
.paper-effect {
    padding:.75rem .75rem 0 .75rem;
    border:1px solid #DDD;
}
.paper-effect li {
    margin-bottom:.75em;
}
.toggle {
    padding: 1rem;
    font-size:1.5rem;
}
.steps-list {
    margin-bottom: 2rem;
    border-bottom: 1px dotted #AAA;
}
.map-canvas {
    height: 400px;
    margin: 0 auto 0 auto;
    padding: 0px;
}
.controls {
    padding-bottom:1rem;
    border-bottom:1px solid #DDD;
    margin-bottom:1rem;
}
ul.nostyle {
    margin:0;
}
.nostyle li{
    list-style: none;
    display:block;
    margin:0;
}
.not-actionable {
    color: #AAA;
    font-style: italic;
    font-size:.75rem;
}
.button-item {
    border-bottom: 1px solid #DDD;
    padding:.5rem 0 .5rem 0;
    line-height:1rem;
    vertical-align: middle;
}
.button-item button {
    margin-bottom: 0;
    padding:.2rem;
    font-size:.75rem;
}
.item-list {
    margin-bottom:1rem;
}